

*{
    margin: 0%;
    padding: 0%;
    font-family: 'DM Sans';
}

#page1{
    height: 100vh;
    padding: 2vw 1vw;


   
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vw;

}
#logo{
    margin-left: 4vw;
}
#optn{ 
    display: flex;
    gap: 2rem;
    font-size: 1.1vw;
    color: grey;
}
#optn i{
    font-size: 1.1vw;
}
#btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.2vw;
    padding-right: 2vw;

}
#btns button{

    background-color: #25DAC5;
    padding: 0.5vw 1.5vw;
    border-radius: 2em;
    border: 0;
    color:white;
    
}
#btns a{
    text-decoration: none;
    color: #1E0E62;
  
}
a button{
    cursor: pointer;
}

#heading{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vw 0 ;
    font-size: 3vw;
    color: #1E0E62;
}

#para p{
    text-align: center;
    line-height: 1.7vw;
    margin-bottom: 8vw ;
    color: #15143966;

}
#endbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vw;
}
#endbtn button{
    display: flex;
    align-items:center ;
    justify-content: center;
    padding:0.6vw 3vw;
    border-radius: 2em;
    border:none;
    background: #25DAC5;
    color: white;
    
}
#endpage{
    display: flex;
    align-items: center;
    justify-content: center;
}
#endpage h4{
    font-weight: 600;
    color: #25DAC5;
    
}